# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# CrossRef XML
docs/**/crossref.xml

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Build
build/
bower_components/
docs/

# emacs
*~docs/
